* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #4a4a4a;
}
#block1 {
  width: 100%;
  height: 794px;
  background: linear-gradient(
      0deg,
      rgba(255, 133, 22, 0.5),
      rgba(255, 133, 22, 0.5)
    ),
    url(./assets/bg_orange.jpg) no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
h2 {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
}
.wrap {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 53px;
  padding-bottom: 72px;
}
.human {
  width: 1072px;
  height: 669px;
  margin: 21px auto 0;
}
.title-wrap {
  position: absolute;
  z-index: 3;
  text-align: center;
  left: 50%;
  margin-left: -235px;
  margin-top: 255px;
}
.title {
  margin-bottom: 63px;
}
.first-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 76px;
  text-align: center;
  letter-spacing: 0.845em;
  text-transform: uppercase;
  color: #ffffff;
}
.second-title {
  margin-top: -37px;
  margin-right: 20px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 154px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.third-title {
  margin-top: -28px;
  margin-left: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #ffffff;
}
.img {
  position: absolute;
  z-index: 2;
}
.btn-register {
  width: 186px;
  height: 66px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 50px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: none;
}
.platforms {
  position: absolute;
  width: 1065px;
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-left: 58px;
  gap: 856px;
}

.platforms-title {
  margin-top: 17px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

#block2 {
  width: 100%;
  height: 794px;
  background-color: #ffffff;
}
.wrap1 {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 53px;
}
.btn {
  width: 146px;
  height: 46px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #4a4a4a;
  background: none;
  margin-right: 30px;
}
.workshop {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 6px;
  color: #4a4a4a;
  margin-left: 37px;
}
.text1 {
  max-width: 700px;
  width: 100%;
  margin: 101px auto 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;

  color: #4a4a4a;
}
p {
  margin-bottom: 0.5em;
}
.people {
  width: 1240px;
  position: absolute;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.people-title {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.0366516px;

  color: #ff7e03;
  height: 29px;
  margin-top: 12px;
}
.people-text {
  width: 1240px;
  position: absolute;
  margin-top: 203px;
  display: flex;
  justify-content: space-around;
  gap: 22px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;

  letter-spacing: -0.0326923px;

  color: #4a4a4a;
}
.about {
  margin-right: 5px;
}
.people-text p {
  width: 341px;
}
#block3 {
  margin-top: 45px;
  width: 100%;
  height: 794px;
  background: linear-gradient(0deg, #353535, #353535),
    linear-gradient(0deg, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.8)),
    url(./assets/Yellow\ single.jpg) no-repeat;
}
.svg {
  margin-left: 29px;
}
.whenandwhere {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 6px;
  color: #ffffff;
  margin-left: 32px;
}

.white {
  border-color: #ffffff;
  color: #ffffff;
}
.information {
  position: relative;
  top: 78px;
  left: 30px;
  max-width: 1180px;
  height: 504px;
  border: 1px solid #ffffff;
}
h3 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
.svg-position {
  display: inline;
}
.location {
  display: inline;
  margin: 0 5px 0 5px;
}
.information p {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.0326923px;

  color: #ffffff;
  margin-top: 33px;
}
.information h4 {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.0326923px;

  color: #ffffff;
}
.inf-where {
  margin: 18px 0 0 68px;
  position: absolute;
}
.inf-about {
  margin: 18px 0 0 610px;
  margin-top: 18px;
  position: absolute;
}
.inf-when {
  position: absolute;
  margin: 255px 0 0 68px;
}
.december {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 13.2778px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 28px 0 -20px 0;
}
.year {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 121px;
  letter-spacing: -0.0871795px;
  color: #ffffff;
}
.cost {
  position: absolute;
  margin: 317px 0 0 610px;
}
#block4 {
  width: 100%;
  height: 289px;
  background-color: #ffffff;
}
.header-date {
  margin-right: 39px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 36px;
  text-align: right;
  text-transform: uppercase;
  color: #4a4a4a;
}
.btn-register-color {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(0deg, #ff7e03, #ff7e03);
  width: 186px;
  height: 66px;
  border: none;
}
.btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 53px;
}
#block5 {
  width: 100%;
  height: 794px;
  background: linear-gradient(
      0deg,
      rgba(255, 133, 22, 0.5),
      rgba(255, 133, 22, 0.5)
    ),
    url(./assets/bg_orange.jpg) no-repeat;
  background-size: cover;
}
.white {
  color: #ffffff;
}
.text-color {
  color: #ffffff;
  padding-top: 20px;
}

.explonation-list {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  margin-top: 110px;
  width: 1240px;
}
.list {
  flex: 1 1 auto;
  margin: 0 60px;
}
.explonation-text {
  margin-top: 16px;
  display: flex;
  padding: 0 5px;
}
.exp-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.0365385px;
  color: #ffffff;
  flex: 1 1 auto;
  margin: 0 60px;
}
.btn-white {
  width: 186px;
  height: 66px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: none;
}
.btn-flex2 {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}
#block6 {
  width: 100%;
  height: 794px;
  background-color: #ffffff;
}
.text2 {
  max-width: 940px;
  width: 100%;
  margin: 100px auto 0;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.social {
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 158px 150px 0;
}
.svg-social {
  margin: 0 14px;
}
.btn-social {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 206px;
  height: 46px;
  background: #ff7e03;
  border: none;
}
.social-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  display: inline;
  margin-left: 8px;
}
.social-items {
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 125px;
  padding: 0 30px;
}
.item-left {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
.item-right {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: right;
  color: #ff7e03;
}
